#main, h1, h3, h2, a>h5, h3.title{
  font-family: 'Coiny', cursive !important;
}

h3.title {
  margin: 3%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.sticker-div {
  width: 200px;
  height: 400px;
  margin: 3%;
}

.sticker-image {
  width: ;
  height:240px;
}

.sticker-image a img {
  height: auto;      /* need to change this to allow for screen resize */
  width: 200px;
  display: inline;
  margin: 0 auto;

}

.sticker-details {
  width: 100%;

}

a h5 {
  text-align: center;
  height: 70px;
}

.mdl-button.mdl-js-button {
  width: 90%;
  display: inline;
  margin: 0 auto;
  margin-right: 5%;
  margin-left: 5%;
}



#cart-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-content {
  margin-left: 8%;
  margin-right: 3%;
  width: 100%;
}

.full-line {
  width: 100%;
}

.cart-table-hdg{
  font-size: 15px;
}

.btn-cart-remove {
  outline: none;
  background-color: transparent;
  border-radius: none;
  border: none;
  height: 50px;
  width: 20px;
  line-height: 40%;
  margin-left: 15px;
  float: right;
  padding: 0;
}
.btn-cart-remove img {
  width: 100%;
  height: auto;
}

.cart-item {
  font-size: 15px;
}

.cart-list {
  list-style: none;
  font-size: 20px;
  margin-left: 2%;
  height: 50px;
}

.cart-pic {
  width: 50px;
  height: 50px;
}

.cart-pic img {
  width: 100%;
  height: auto;
}


.navbar{
  margin-bottom: 0px;
}

.home-cover {
  height:1200px;
  color:white;
  background: url('https://i.ytimg.com/vi/4TOvd8L1UWs/maxresdefault.jpg') no-repeat center center fixed;
  background-size:cover;
}
.navbar-img {
  height:20px;
  width:20px;
  display:block;
}
.navbar-default {
  background-color: black;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
  color: rgb(255,64,129);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color:rgb(255,64,129);
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a {
  color: white
}
.navbar-default .navbar-nav>.active>a{
  background-color: rgb(255,64,129);
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar-default .navbar-brand, html{
  color:white;
}

.login-signup {
  margin: 5% 10%;
}
hr.signup {
  width: 20%;
  float: left;
}

h3 {
  clear: both;
}
.btn-pink{
  color:white;
  background-color: rgb(255,64,129);
}




/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */


