.flex-container {
  display: flex;
  justify-content: center;
}

.sticker-div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 40%;
}

.sticker-div a img {
  height: 230px;      /* need to change this to allow for screen resize */
  width: auto;
  display: inline;
  margin: 0 auto;
}

a h5 {
  margin: 0 auto;
}

.btn {
  width: 25%;
  display: inline;
}



#cart-container {
  display: flex;
  width: 100%;
}

.main-content {
  margin-left: 8%;
  width: 100%;
}

.full-line {
  width: 100%;
}

.btn-cart-remove {
  outline: none;
  background-color: transparent;
  border-radius: none;
  border: none;
  height: 50px;
  width: 20px;
  line-height: 40%;
  margin-left: 15px;
  float: right;
  padding: 0;
}
.btn-cart-remove img {
  width: 100%;
  height: auto;
}

.cart-list {
  list-style: none;
  font-size: 20px;
  margin-left: 2%;
  width: 25%;
  height: 50px;
}

.cart-pic {
  width: 50px;
  height: 50px;
}

.cart-pic img {
  width: 100%;
  height: auto;
}

.navbar{
  margin-bottom: 0px;
}

.home-cover {
  height:1000px;
  color:white;
  background: url('https://i.ytimg.com/vi/4TOvd8L1UWs/maxresdefault.jpg') no-repeat center center fixed;
    background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */


